extends layout

block content
  h1= item.title
  h5 Written by #{author}
  p= item.body
  hr
  if user
    if user.id ==item.author
      a.btn.btn-default(href='/items/edit/'+item._id) Edit 
      a.btn.btn-danger.delete-item(href='#',data-id=item._id) Delete
  
